<div ng-show="videoLink" class="vp">
	<div class="vp__video">
		<video controls ng-src="{{videoLink}}" ng-show="video.ready" id="video">
		</video>
		<div class="loader loader--style6" ng-hide="video.ready">
			<div>Loading video</div>
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
				<rect x="0" y="13" width="4" height="5" fill="#333">
					<animate attributeName="height" attributeType="XML"
						values="5;21;5" 
						begin="0s" dur="0.6s" repeatCount="indefinite" />
					<animate attributeName="y" attributeType="XML"
						values="13; 5; 13"
						begin="0s" dur="0.6s" repeatCount="indefinite" />
				</rect>
				<rect x="10" y="13" width="4" height="5" fill="#333">
					<animate attributeName="height" attributeType="XML"
						values="5;21;5" 
						begin="0.15s" dur="0.6s" repeatCount="indefinite" />
					<animate attributeName="y" attributeType="XML"
						values="13; 5; 13"
						begin="0.15s" dur="0.6s" repeatCount="indefinite" />
				</rect>
				<rect x="20" y="13" width="4" height="5" fill="#333">
					<animate attributeName="height" attributeType="XML"
						values="5;21;5" 
						begin="0.3s" dur="0.6s" repeatCount="indefinite" />
					<animate attributeName="y" attributeType="XML"
						values="13; 5; 13"
						begin="0.3s" dur="0.6s" repeatCount="indefinite" />
				</rect>
			</svg>
		</div>
	</div>
	<div class="vp__clips">
		<div class="vp__clip-list-title">
			<h2 ng-hide="video.editing">{{video.name}}</h2>
			<input ng-show="video.editing" type="text" ng-model="video.name">
			<div class="vp__clip-list-title-edit" ng-click="video.editing = true" ng-hide="!editable || video.editing">
				<img src="assets/edit.png" title="edit"></div>
			<div class="vp__clip-list-title-edit" ng-click="updateVideo()" ng-show="video.editing">
				<img src="assets/save.png" title="save"></div>
		</div>
		<div class="vp__extra-tools">
			<div class="vp__autoplay">Autoplay 
				<span class="vp__autoplay--on" ng-click="video.autoplay=false" ng-show="video.autoplay">on</span>
				<span class="vp__autoplay--off" ng-click="video.autoplay=true" ng-hide="video.autoplay">off</span>
			</div>
			<div ng-show="editable">
				<a ng-href="/viewer/{{video.id}}">View-Only Link</a>
			</div>
	  </div>
		<ul class="vp__clip-list">
			<li ng-repeat="clip in videoClips" class="vp__clip-list-item">
				<div class="vp__clip-index">
					<span ng-hide="clip.playing">{{$index + 1}}</span>
					<span ng-show="clip.playing"><img src="assets/play.png"></span>
				</div>
				<div class="vp__clip-info" ng-click="setVideoLinkFromClip(clip, $index, 0)" ng-hide="clip.editing">
					<h4>{{clip.name}}</h4>
					<div class="vp__clip-time" ng-show="$index != 0">{{clip.start}} - {{clip.end}}</div>
				</div>
				<div class="vp__clip-info-edit" ng-show="clip.editing">
					<input type="text" ng-model="clip.name">
					<div>
						<input type="text" class="vp__time-input"
							ng-model="clip.start" ui-mask="99:99:99" ui-mask-placeholder 
							ui-mask-placeholder-char="0" model-view-value="true"></input>
						<input type="text" class="vp__time-input "
							ng-model="clip.end" ui-mask="99:99:99" ui-mask-placeholder 
							ui-mask-placeholder-char="0" model-view-value="true"></input>
					</div>
				</div>
				<div class="vp__clip-tools" ng-show="$index != 0 && editable">
					<div ng-hide="clip.editing" ng-click="clip.editing = true"><img src="assets/edit.png" title="edit"></div>
					<div ng-show="clip.editing" ng-click="updateClip(clip)"><img src="assets/save.png" title="save"></div>
					<div ng-click="deleteClip(clip)"><img src="assets/delete.png" title="delete"></div>
				</div>
			</li>
		</ul>
		<form ng-show="editable">
			<h3>Add a Clip</h3>
			<div ng-show="newClipError" class="vp__clip-error">{{newClipError}}</div>
			<div class="vp__clip-form">
				<div class="vp__clip-name-form">
					<label>
						Name
					</label>
					<input type="text" ng-model="newClip.name"></input>
				</div>
				<div class="vp__time-form">
					<label>
						Start
					</label>
					<input type="text" class="vp__time-input"
						ng-model="newClip.start" ui-mask="99:99:99" ui-mask-placeholder 
					  ui-mask-placeholder-char="0" model-view-value="true"></input>
				</div>
				<div class="vp__time-form">
					<label>
						End
					</label>
					<input type="text" class="vp__time-input "
						ng-model="newClip.end" ui-mask="99:99:99" ui-mask-placeholder 
						ui-mask-placeholder-char="0" model-view-value="true"></input>
				</div>
				<div class="vp__clip-add" ng-click="createNewClip()"><img src="assets/add.png"></div>
			</div>
		 </form>
  </div>
</div>
