<!DOCTYPE html>
<html>
  <head>
    <title>Krossover</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<script type="text/javascript" src="//fast.fonts.net/jsapi/462f9f38-fef3-42f7-93f0-55e589f20e94.js"></script>
		<base href='/'>
  </head>

  <body>
		<div ng-app="krossover" class="container">
			<div ng-view></div>
		</div>
  </body>
</html>
